@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none;
   list-style-type: none;
   background-color: var(--terciary);
   color: white;
   font-family: 'Nunito', sans-serif;
}

:root {
   --general-margin: 15%;
   --primary: #db504a;
   --secondary: #3cdbd3;
   --terciary: #1c2321;
}

/*ANIMACIONES REUSABLES*/
@keyframes borderHover {
   0% {
      border: 2px solid transparent;
   }

   100% {
      border: 2px solid var(--secondary);
   }
}

@keyframes borderHoverOut {
   0% {
      border: 2px solid var(--secondary);
   }

   100% {
      border: 2px solid transparent;
   }
}

/*ESTILOS*/

header {
   margin: 0px var(--general-margin);
   max-height: 105px;
   border-bottom: 1px solid var(--secondary);
}

header > ul {
   display: flex;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   justify-content: space-between;
}

.logo {
   height: 95px;
}

.h-25 {
   height: 25px;
}

.hw-120 {
   height: 120px;
   width: 120px;
}

.absolute {
   position: absolute;
}

.relative {
   position: relative;
}

.search-bar {
   padding: 10px;
   display: flex;
   gap: 10px;
   border: 2px solid var(--secondary);
   border-radius: 15px;
}

.clearSearch {
   padding: 3px;
   cursor: pointer;
}

#buscar {
   padding: 5px;
   outline: none;
}

main {
   margin: 20px var(--general-margin);
   display: grid;
   grid-template-columns: 1fr 4fr;
   gap: 10px;
}

.pokemons {
   display: grid;
   grid-template-columns: repeat(auto-fill, 150px);
   gap: 10px;
   justify-content: space-between;
}

.pokemon {
   padding: 5px;
   display: flex;
   flex-direction: column;
   height: auto;
   align-items: center;
   min-height: 220px;
   max-height: 230px;
   border: 2px solid transparent;
   border-radius: 5px;
   text-align: center;
   perspective: 1000px;
}

.pokemon *:not(.pk-image) {
   background-color: transparent;
}

.pk-card {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
}

.pk-front,
.pk-back {
   position: absolute;
   backface-visibility: hidden;
}

.pk-back {
   transform: rotateY(180deg);
}

.pk-img img {
   top: 0;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   margin: auto;
}

.pokemon:hover {
   animation-name: borderHover;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
   cursor: pointer;
}

.border-hoverOut {
   animation-name: borderHoverOut;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
}

@keyframes imgHover {
   0% {
      width: 120px;
   }

   100% {
      width: 140px;
   }
}

.pokemon:hover img {
   animation-name: imgHover;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
}

@keyframes imgHoverOut {
   0% {
      width: 140px;
   }

   100% {
      width: 120px;
   }
}

.img-hoverout {
   animation-name: imgHoverOut;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
}

.extra-info {
   position: absolute;
   opacity: 0%;
}

.types {
   position: relative;
   display: flex;
   gap: 5px;
   justify-content: center;
}

.type {
   border: 1px solid;
   padding: 3px 10px;
}

.filters {
   padding: 0px 10px;
   display: grid;
   grid-template-rows: repeat(3, minmax(25px, 40px)) 1fr 1fr;
   gap: 15px;
   border: 2px solid transparent;
   border-radius: 5px;
}

.filters:hover {
   animation-name: borderHover;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
}

.filters h2 {
   border-bottom: 1px solid var(--secondary);
}

.filter {
   display: flex;
   flex-direction: column;
}

.filter > div > input,
select,
button {
   padding: 3px;
   border: 1px solid white;
   border-radius: 5px;
}

.filter > h4 {
   font-weight: 300;
}

.filter-level > div {
   display: grid;
   grid-template-columns: 1fr 2fr;
   gap: 5px;
}

.filter-level input {
   max-width: 100px;
}

.button-level {
   justify-self: flex-start;
   padding: 3px 10px;
   cursor: pointer;
}

.counter {
   justify-self: flex-end;
   align-self: end;
}

.allTypes {
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
}

button[class*='filter-'] {
   cursor: pointer;
   font-size: 14px;
}

.empty {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 50px;
}

@keyframes messageAnimation {
   from {
      font-size: 17px;
   }
   to {
      font-size: 16px;
   }
}

.message {
   animation-name: messageAnimation;
   animation-duration: 0.3s;
   text-align: center;
   align-self: center;
}

.recommended {
   display: flex;
   justify-content: space-between;
}

.recommended > .pokemon {
   min-width: 150px;
}
